/* Start variables */
:root {
    --primaryColor: #FF274b;
    --seconderyColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor1: #171a1c;
    --bgColor2: #22282a;
    --padding: 8%;
}
/* End variables */

/* Start Globle Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}
/* End Globle Rules */

/* Start Home--------------------------------- */

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor1);
    display: flex;
    flex-direction: column;
}
span {
    color: var(--primaryColor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav {
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0.8rem 1.5rem;
    display: inline-block;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.81rem 1.87rem;
    transition: 0.4s;
    border: 2px solid transparent;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content {
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-text {
    position: relative;
}

h1 {
    margin: 1.7rem 0;
    font-size: 4.65rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--seconderyColor);
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

.social {
    margin-top: 3.5rem;
}

.social i {
    margin: 0.12rem;
    width: 3.5rem;
    font-size: 2.2rem;
    color: var(--primaryColor);
    transition: 0.4s;
}

.social i:hover {
    transform: scale(1.2);
}

.home .container-images {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 81vh;
    left: 1%;
    transform: translateY(111px);
    transition: left 1s;
}

.home .container-images img:hover.pic {
    left: 5%;
}

/* End Home------------------------------------------------- */
/* Start About-------------------------------------------------*/

.about {
    background-color: var(--bgColor2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-images {
    width: 35%;
}

.about .container-images img {
    width: 90%;
}

.about .container-text {
    width: 35%;
}

p {
    color: var(--seconderyColor);
    font-size: 0.8rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

h5 {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

/* End About-------------------------------------------------*/
/* Start Services-------------------------------------------------*/

.services {
    background-color: var(--bgColor1);
    padding: 2rem var(--padding);
}
.text-center {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: var(--bgColor2);
    border-radius: 20px;
    width: 250px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card em {
    font-size: 2.12rem;
    color: var(--primaryColor);
    text-align: center;
    margin: 3rem;
}

/* End Services-------------------------------------------------*/
/* Start Skills-------------------------------------------------*/

.skills {
    background-color: var(--bgColor2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-images {
    width: 35%;
}

.skills .container-images img {
    width: 90%;
}

.skills .container-skills {
    width: 50%;
}

.content-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    width: 100px;
    height: 100px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 70%;
}

/* End Skills-------------------------------------------------*/
/* Start Footer-------------------------------------------------*/

footer {
    padding: 2rem var(--padding);
    background-color: var(--bgColor1);
}

.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

.content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}

.content-footer .contact-button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* End Footer-------------------------------------------------*/
/* Start Menu-------------------------------------------------*/

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px)
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primaryColor);
}



#menu {
    display: none;
    position: relative;
    background: none;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

/* Start Menu-------------------------------------------------*/

/* Start Media Querise-------------------------------------------------*/

@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }

    body {
        font-size: 13px;
    }
    
    .home .container-images {
        display: none;
    }

    nav > a {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor1);
        border-bottom: solid 1px var(--bgColor2);
        z-index: 100;
    }

    nav ul {
        display: none;
        position: fixed;
        background-color: var(--bgColor2);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 70px;
        padding: 15px;
    }

    nav ul.is-active {
        display: block;
    }
    .social {
        margin-top: 70px;
    }

    h3 {
        margin-top: 70px;
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-text {
        width: 100%;
        text-align: center;
    }
    .box {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .skills .container-images {
        display: none;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .skill {
        width: 75px;
        height: 75px;
        margin: 0 0.3rem 0.5rem 0;
    }

    .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    :root {
        --padding: 1.5rem;
    }

    body {
        font-size: 13px;
    }
    
    .home .container-images {
        display: none;
    }

    nav > a {
        display: none;
    }

    .content {
        padding-top: 100px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor1);
        border-bottom: solid 1px var(--bgColor2);
        z-index: 100;
    }

    nav ul {
        display: none;
        position: fixed;
        background-color: var(--bgColor2);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 70px;
        padding: 15px;
    }

    nav ul.is-active {
        display: block;
    }
    .social {
        margin-top: 25px;
    }

    h3 {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-text {
        width: 100%;
        text-align: center;
    }
    .box {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .skills .container-images {
        display: none;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .skill {
        width: 75px;
        height: 75px;
        margin: 0 0.3rem 0.5rem 0;
    }

    .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    :root {
        --padding: 1.5rem;
    }

    body {
        font-size: 13px;
    }
    
    .home .container-images {
        display: none;
    }

    nav > a {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor1);
        border-bottom: solid 1px var(--bgColor2);
        z-index: 100;
    }

    nav ul {
        display: none;
        position: fixed;
        background-color: var(--bgColor2);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 70px;
        padding: 15px;
    }

    nav ul.is-active {
        display: block;
    }
    .social {
        margin-top: 70px;
    }

    h3 {
        margin-top: 70px;
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-text {
        width: 100%;
        text-align: center;
    }
    .box {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .skills .container-images {
        display: none;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .skill {
        width: 75px;
        height: 75px;
        margin: 0 0.3rem 0.5rem 0;
    }

    .content-footer p {
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px){
    :root {
        --padding: 1.5rem;
    }

    body {
        font-size: 13px;
    }
    
    .home .container-images img {
        height: 77vh;
        left: -174px;
        transform: translateY(22px);
    }

    .home .container-images img:hover.pic {
        display: none;
    }

    nav > a {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 0;
        height: 82px;
        background-color: var(--bgColor1);
        border-bottom: solid 1px var(--bgColor2);
        z-index: 100;
    }

    nav ul {
        display: none;
        position: fixed;
        background-color: var(--bgColor2);
        width: 50vw;
        height: 100vh;
        top: 0;
        right: 0;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 70px;
        padding: 15px;
    }

    nav ul.is-active {
        display: block;
    }
    .social {
        margin-top: 70px;
    }

    h3 {
        margin-top: 70px;
    }

    #menu {
        display: block;
    }


    .about .container-text {
        width: 60%;
    }
    .box {
        flex-wrap: wrap;
        gap: 2rem;
    }


    .skills .container-skills {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .skill {
        width: 75px;
        height: 75px;
        margin: 0 0.3rem 0.5rem 0;
    }

    .content-footer p {
        width: 100%;
    }
}

/* End Media Querise-------------------------------------------------*/